{% extends '_base.htm' %} 
{% block title %}Link{% endblock %}
{% block back %} 
 <img src="DSC_0962.jpg" width="100%" height="100%"
     style="position:fixed; top:0px; left:0px; z-index:1;">
 <div style="position:absolute; top:10px; left:0px; z-index:2">
{% endblock %}
{% block content  %}
 <div id="content2">
  <h2>Link集</h2>
  <ul>
  <li>twitter</li>
   <a href="https://twitter.com/araki412">https://twitter.com/araki412</a>
  <li>facebook</li>
   <a href="https://www.facebook.com/akira.ogawa.92372">https://www.facebook.com/akira.ogawa.92372</a>
  <li>光害啓発ビデオ（日本語字幕版）〜光害の現状、環境への影響、対策 </li>
   <a href="https://www.youtube.com/watch?v=0MDI3ND0mII">https://www.facebook.com/akira.ogawa.92372</a>
  </ul>
  <p><span style="color:navajowhite; font-weight:bold; float:right;">順次追加予定・・・</span></p>
 </div>
{% endblock %}
