{% extends '_base.htm' %}
{% block title %}最初に{% endblock %}
{% block back %} 
  <img src='/static/DSC_0234.jpg' width='100%' height='100%'
     style='position:fixed; top:0px; left:0px; z-index:1;'>
  <div style='position:absolute; top:10px; left:0px; z-index:2'>
{% endblock %}
{% block content %}
<div id='content0'>
 <h1>　　最初に</h1>
 <p>　　このホームページは主に自分の活動記録を記したものとなっています。<br>
    　　少しでも興味をもった方がいれば、是非見ていってください。<br>
    　　なお、上記のログインに関して、ログインして頂いた人は<br>
    　　メッセージホームにメッセージを残せるようになっています。<br>
    　　(メッセージフォームはチャット形式になっていますので、相互のやりとりも可能です。)<br>
 </p>
</div>
{% endblock %}
