<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 
 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'> 
<html xmlns='http://www.w3.org/1999/xhtml'>

 <head>
  <title>Introduction</title>
 </head>
<body>
{% block back %} 
  <img src="DSC_0020.jpg" width="100%" height="100%"
     style="position:fixed; top:0px; left:0px; z-index:1;">
  <div style="position:absolute; top:10px; left:0px; z-index:2">  
{% endblock %}
   <div id='content3'>
    <h2>Self-Introduction</h2>
    <ul>
     <p><a href='img/demopage/DSC_0794.jpg' rel='lightbox'><img src='DSC_0794.jpg' 
         alt='twin dragon'
         width='320' height='190' style='float:right; border: 1px solid yellow;'/></a>
         <span style ='font-weight:bold;color:yellow;text-shadow:none;float:right;text-shadow:-1px -1px 0 orange,1px -1px 0 #FFD494,-1px 1px 0 #FFD494,1px 1px 0 #FFD494;'>休日に訪れた建仁寺での一枚（双龍図）→</span>
     </p>
    <li>Name</li>
     <p>Akira Ogawa</p>
    <li>Affilation</li>
     <p>First Year Master, Department of Intelligence Science and Technology, Graduate School of Informatics, Kyoto University</p>
    <li>Birthday</li>
     <p>April 12,1993</p>
    <li>Birthplace</li>
     <p>Hamamatsu, Shizuoka</p>  
    <li>Interests</li>
     <p>Information retrival, Natural Language Generation</p>
    <li>Passtime</li>
     <p>Reading,Novel,<a href='picture.html'>Photography</a></p>
    <li>Work experience</li>
     <p>Toshiba Memory,inc,2019/08/19~2019/08/30,Natural Language Processing, Kanagawa.</p>
    <li>Contact Information</li>
     <p>xakari2000@yahoo.co.jp</p>
    <li>Research Theme</li>
     <p><a href='light.html'>Information Retrival Based on Metaphor</a></p>
    </ul>
   </div>
</body>
</html>
