{% extends '_base.htm' %} 
{% block title %}What is about 'Information retrival?'{% endblock %}
{% block back %} 
  <img src='DSC_0130.jpg' width='100%' height='100%'
     style='position:fixed; top:0px; left:0px; z-index:1;'>
  <div style='position:absolute; top:10px; left:0px; z-index:2'>
{% endblock %}
{% block content  %}
   <div id='content1'>
  <h2>What is about 'Information retrival?'</h2>
  <p>We acquire infrmation by query retrival.</p>
  <p>However, this approach is uneffective when a retriever does not know about the topic of the retrieval target.</p>
  <p>Therefore, I think we should construct the system by which a retriver can acquire information of unfamiliar topics.</p>
  <p>I propose 'information retrival based on metaphor.'</p>     
  <p>I think we can regard one sentence written about an unfamiliar topic as metaphor.</p>  
  <p>Based on the idea, I suppose the situation that by giving one sentence, a retriever can get the sentences which share the gist.</p>     
  <p>For more information, please refer to the below slide.</p>  
  <iframe src="https://onedrive.live.com/embed?cid=E424364E9D543166&amp;resid=E424364E9D543166%2111906&amp;authkey=AI46dd-LNUnB4JM&amp;em=2&amp;wdAr=1.3333333333333333" width="350px" height="286px" frameborder="0" style='position:absolute; top:10px; left:0px; z-index:2'>これは、<a target="_blank" href="https://office.com/webapps">Office</a> の機能を利用した、<a target="_blank" href="https://office.com">Microsoft Office</a> の埋め込み型のプレゼンテーションです。</iframe>  
   </div>
{% endblock %} 

