{% extends '_base.htm' %} 
{% block title %}光害とは？{% endblock %}
   {% block type  %}
   #e1{
    color:#FF3300;
    font-weight:bold;
     text-shadow:
     -1px -1px 0 yellow,
     1px -1px 0 mediumblue,
     -1px 1px 0 mediumblue,
     1px 1px 0 mediumblue;
   }
   {% endblock %}
{% block back %} 
  <img src='DSC_0130.jpg' width='100%' height='100%'
     style='position:fixed; top:0px; left:0px; z-index:1;'>
  <div style='position:absolute; top:10px; left:0px; z-index:2'>
{% endblock %}
{% block content  %}
   <div id='content1'>
  <h2>
  光害とは？</h2>
  <p>光害とは、簡単に言うと街の光によって生み出される公害である。</p>
  <p>この公害は様々な生き物に影響を与える。</p>
  <p>それは以下のようなものがある。
   <img src='yakei2.jpg' 
    alt='Night View'
    width='320' height='190' style='float:right'/>
   <span style='font-weight:bold;color:yellow;text-shadow:none;float:right'>大阪の都市の光。<br>こうした街中では星はほとんど見られない。→</span>
  </p>
  <ul>
   <li1><span style='color:tomato;font-weight:bold'>人</span></li1>
    <ul>
     <li>星が見づらくなる</li>
     <li>不眠症になる</li>
    </ul>
   <li1><span style='color:turquoise;font-weight:bold'>ヒト以外の動物</span></li1>
    <ul>
     <li>鳥がビルに激突する</li>
     <li>ウミガメの子供が海に帰れなくなる</li>
    </ul>
   <li1><span style='color:greenyellow;font-weight:bold'>その他（例として植物と爬虫類）</span></li1>
    <ul>
     <li>稲の穂がいつまでもつかない。</li>
     <li>カエルが合唱をしなくなる。</li>
    </ul>
  </ul>
  <p><br>光害は知名度が低いため、対策がほとんどとられていない。<br>
     しかし、本当は<span id ='e1'>世界中で悪影響を及ぼす恐ろしい害の一つ</span>なのである。</p> 
  <p><span style='color:#FFEDAE;font-weight:bold'>参考資料</span><br>高校時代に自分作成した論文<br>（文字化け防止のため,Adobe Readerで読んでください。<br>　firefoxを使っている方は申し訳ありませんが,ダウンロードして閲覧してください。）
     <br><a href='report.pdf'> 光害論文</a>
  </p>
  </div>
{% endblock %} 

