<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 
 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'> 
<html xmlns='http://www.w3.org/1999/xhtml'>
 <head>
  <title>Photo Studio</title>
  <link rel="stylesheet" type="text/css" href="static/glike.css">
 </head>
<body>
{% block back %} 
  <img src='DSC_0012.jpg' width='100%' height='100%'
     style='position:fixed; top:0px; left:0px; z-index:1;'>
  <div style='position:absolute; top:10px; left:0px; z-index:2'>

   <div id='content'>
  <h2>Photo Studio</h2>
  <p>　In this page, I post pictures I have taken.</p>
  <p>　Please have a look around as much as you like.</p>
   <li1><span style='color:#FFE4E1'>Spring</span></li1>
    <ul>
<script type='text/javascript'>
   var selectnum = Math.floor(Math.random() * 5);
　 var output1 = '<a rel="lightbox" href='+ "photo1/" + selectnum + ".JPG"  +">";　
　 var output2 = '<img width="250" height="150" alt="for spring" style="border: 10px ridge #FFE4E1;" src='+ "photo1/" + selectnum + ".JPG"  +"></a>";　
   document.write(output1);
   document.write(output2);
</script>
    </ul>
   <li1><span style='color:lawngreen'>Summer</span></li1>
    <ul>
<script type='text/javascript'>
   var selectnum = Math.floor(Math.random() * 5);
　 var output1 = '<a rel="lightbox" href='+ "photo2/" + selectnum + ".JPG"  +">";　
　 var output2 = '<img width="250" height="150" alt="for summer" style="border: 10px ridge lawngreen;" src='+ "photo2/" + selectnum + ".JPG"  +"></a>";　
   document.write(output1);
   document.write(output2);
</script>
    </ul>
   <li1><span style='color:darkorange'>Autumn</span></li1>
    <ul>
<script type='text/javascript'>
   var selectnum = Math.floor(Math.random() * 6);
   var output1 = '<a rel="lightbox" href='+ "photo3/" + selectnum + ".JPG"  +">";　
　 var output2 = '<img height="150" alt="for autumn" style="border: 10px ridge darkorange;" src='+ "photo3/" + selectnum + ".JPG"  +"></a>";　
   document.write(output1);
   document.write(output2);　

</script>
    </ul>
   <li1><span style='color:darkcyan'>Winter</span></li1>
    <ul>
<script type='text/javascript'>
   var selectnum = Math.floor(Math.random() * 5);
　 var output1 = '<a rel="lightbox" href='+ "photo4/" + selectnum + ".JPG"  +">";　
　 var output2 = '<img height="150" alt="for winter" style="border: 10px ridge darkcyan;" src='+ "photo4/" + selectnum + ".JPG"  +"></a>";　
   document.write(output1);
   document.write(output2);　
</script>
  </ul>
  </div>
</body>
</html>
