{% extends '_base.htm' %}
{% block title %}工夫点{% endblock %} 
{% block back %} 
  <img src="DSC_0887.jpg" width="100%" height="100%"
     style="position:fixed; top:0px; left:0px; z-index:1;">
  <div style="position:absolute; top:10px; left:0px; z-index:2">  
{% endblock %}
{% block content %}
<div id='content6'>
 <p>　最終課題における工夫</p>
 <p> 　この課題において、自分は以下のような工夫を加えた。<br>
   一つはログイン/ログアウト機能の実装や、チャットの導入,<br>
   そして、新たに写真閲覧ページを作り,写真がランダムに<br>
   表示されるように設定した。（各写真はクリックで拡大可能）<br>
   また、各ページの背景には写真の一部を用いた。<br>
   さらに、ページ中の文書が閲覧者にとって読みやすくなるように,それぞれの<br>
   文字の色やサイズを,cssのコードを調整した。<br>
   また、一部の文字周りを別の色で囲むことで、Webページの外見にアクセントを<br>
   加えた。<br>
    　以上が自分の行った工夫である。<br>
 </p>
</div>
{% endblock %} 
